# Create aggregate histograms.
[[aggregators.histogram]]
  ## The period in which to flush the aggregator.
  period = "{{ telegraf_aggregators_histogram_period|d() }}"

  ## If true, the original metric will be dropped by the
  ## aggregator and will not get sent to the output plugins.
  drop_original = {{ telegraf_aggregators_histogram_drop_original|d()|bool|lower }}

  ## If true, the histogram will be reset on flush instead
  ## of accumulating the results.
  reset = {{ telegraf_aggregators_histogram_reset|d()|bool|lower }}

  ## Whether bucket values should be accumulated. If set to false, "gt" tag will be added.
  ## Defaults to true.
  cumulative = {{ telegraf_aggregators_histogram_cumulative|d()|bool|lower }}

  ## Example config that aggregates all fields of the metric.
  # [[aggregators.histogram.config]]
  #   ## Right borders of buckets (with +Inf implicitly added).
  {{ '#' if telegraf_aggregators_histogram_buckets is not defined else '' }}buckets = [ {% for i in telegraf_aggregators_histogram_buckets|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]
  #   ## The name of metric.
  {{ '#' if telegraf_aggregators_histogram_measurement_name is not defined else '' }}measurement_name = "{{ telegraf_aggregators_histogram_measurement_name|d() }}"

  ## Example config that aggregates only specific fields of the metric.
  # [[aggregators.histogram.config]]
  #   ## Right borders of buckets (with +Inf implicitly added).
  {{ '#' if telegraf_aggregators_histogram_buckets is not defined else '' }}buckets = [ {% for i in telegraf_aggregators_histogram_buckets|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]
  #   ## The name of metric.
  {{ '#' if telegraf_aggregators_histogram_measurement_name is not defined else '' }}measurement_name = "{{ telegraf_aggregators_histogram_measurement_name|d() }}"
  #   ## The concrete fields of metric
  {{ '#' if telegraf_aggregators_histogram_fields is not defined else '' }}fields = [ {% for i in telegraf_aggregators_histogram_fields|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]
