# Keep the aggregate min/max of each metric passing through.
[[aggregators.minmax]]
  ## General Aggregator Arguments:
  ## The period on which to flush & clear the aggregator.
  period = "{{ telegraf_aggregators_minmax_period|d() }}"
  ## If true, the original metric will be dropped by the
  ## aggregator and will not get sent to the output plugins.
  drop_original = {{ telegraf_aggregators_minmax_drop_original|d()|bool|lower }}
