# This plugin implements the Zipkin http server to gather trace and timing data needed to troubleshoot latency problems in microservice architectures.
[[inputs.zipkin]]
  {{ '#' if telegraf_inputs_zipkin_path is not defined }}path = "{{ telegraf_inputs_zipkin_path|d() }}"
