# Read Tengine's basic status information (ngx_http_reqstat_module)
[[inputs.tengine]]
  # An array of Tengine reqstat module URI to gather stats.
  urls = [ {% for i in telegraf_inputs_tengine_urls|d([]) %}"{{ i }}"{{ ', ' if not loop.last }}{% endfor %} ]

  # HTTP response timeout (default: 5s)
  {{ '#' if telegraf_inputs_tengine_response_timeout is not defined }}response_timeout = "{{ telegraf_inputs_tengine_response_timeout|d() }}"

  ## Optional TLS Config
  {{ '#' if telegraf_inputs_tengine_tls_ca is not defined }}tls_ca = "{{ telegraf_inputs_tengine_tls_ca|d() }}"
  {{ '#' if telegraf_inputs_tengine_tls_cert is not defined }}tls_cert = "{{ telegraf_inputs_tengine_tls_cert|d() }}"
  {{ '#' if telegraf_inputs_tengine_tls_key is not defined }}tls_key = "{{ telegraf_inputs_tengine_tls_key|d() }}"
  ## Use TLS but skip chain & host verification
  {{ '#' if telegraf_inputs_tengine_insecure_skip_verify is not defined }}insecure_skip_verify = {{ telegraf_inputs_tengine_insecure_skip_verify|d()|bool|lower }}
