# Statsd UDP/TCP Server
[[inputs.statsd]]
  ## Protocol, must be "tcp", "udp", "udp4" or "udp6" (default=udp)
  protocol = "{{ telegraf_inputs_statsd_protocol|d() }}"

  ## MaxTCPConnection - applicable when protocol is set to tcp (default=250)
  max_tcp_connections = {{ telegraf_inputs_statsd_max_tcp_connections|d() }}

  ## Enable TCP keep alive probes (default=false)
  tcp_keep_alive = {{ telegraf_inputs_statsd_tcp_keep_alive|d()|bool|lower }}

  ## Specifies the keep-alive period for an active network connection.
  ## Only applies to TCP sockets and will be ignored if tcp_keep_alive is false.
  ## Defaults to the OS configuration.
  {{ '#' if telegraf_inputs_statsd_tcp_keep_alive_period is not defined else '' }}tcp_keep_alive_period = "{{ telegraf_inputs_statsd_tcp_keep_alive_period|d() }}"

  ## Address and port to host UDP listener on
  service_address = "{{ telegraf_inputs_statsd_service_address|d() }}"

  ## The following configuration options control when telegraf clears it's cache
  ## of previous values. If set to false, then telegraf will only clear it's
  ## cache when the daemon is restarted.
  ## Reset gauges every interval (default=true)
  delete_gauges = {{ telegraf_inputs_statsd_delete_gauges|d()|bool|lower }}
  ## Reset counters every interval (default=true)
  delete_counters = {{ telegraf_inputs_statsd_delete_counters|d()|bool|lower }}
  ## Reset sets every interval (default=true)
  delete_sets = {{ telegraf_inputs_statsd_delete_sets|d()|bool|lower }}
  ## Reset timings & histograms every interval (default=true)
  delete_timings = {{ telegraf_inputs_statsd_delete_timings|d()|bool|lower }}

  ## Percentiles to calculate for timing & histogram stats
  percentiles = [ {% for i in telegraf_inputs_statsd_percentiles|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]

  ## separator to use between elements of a statsd metric
  metric_separator = "{{ telegraf_inputs_statsd_metric_separator|d() }}"

  ## Parses tags in the datadog statsd format
  ## http://docs.datadoghq.com/guides/dogstatsd/
  parse_data_dog_tags = {{ telegraf_inputs_statsd_parse_data_dog_tags|d()|bool|lower }}

  ## Parses datadog extensions to the statsd format
  datadog_extensions = {{ telegraf_inputs_statsd_datadog_extensions|d()|bool|lower }}

  ## Statsd data translation templates, more info can be read here:
  ## https://github.com/influxdata/telegraf/blob/master/docs/TEMPLATE_PATTERN.md
  {{ '#' if telegraf_inputs_statsd_templates is not defined else '' }}templates = [ {% for i in telegraf_inputs_statsd_templates|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]
  #     "cpu.* measurement*"
  # ]

  ## Number of UDP messages allowed to queue up, once filled,
  ## the statsd server will start dropping packets
  allowed_pending_messages = {{ telegraf_inputs_statsd_allowed_pending_messages|d() }}

  ## Number of timing/histogram values to track per-measurement in the
  ## calculation of percentiles. Raising this limit increases the accuracy
  ## of percentiles but also increases the memory usage and cpu time.
  percentile_limit = {{ telegraf_inputs_statsd_percentile_limit|d() }}
