# Neptune Apex data collector
[[inputs.neptune_apex]]
  ## The Neptune Apex plugin reads the publicly available status.xml data from a local Apex.
  ## Measurements will be logged under "apex".

  ## The base URL of the local Apex(es). If you specify more than one server, they will
  ## be differentiated by the "source" tag.
  servers = [ {% for i in telegraf_inputs_neptune_apex_servers|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]
    "http://apex.local",
  ]

  ## The response_timeout specifies how long to wait for a reply from the Apex.
  response_timeout = "{{ telegraf_inputs_neptune_apex_response_timeout|d() }}"
