# Read Nginx Plus' full status information (ngx_http_status_module)
[[inputs.nginx_plus]]
  ## An array of ngx_http_status_module or status URI to gather stats.
  urls = [ {% for i in telegraf_inputs_nginx_plus_urls|d([]) %}"{{ i }}"{{ ', ' if not loop.last }}{% endfor %} ]

  # HTTP response timeout (default: 5s)
  response_timeout = "{{ telegraf_inputs_nginx_plus_response_timeout|d() }}"

  ## Optional TLS Config
  {{ '#' if telegraf_inputs_nginx_plus_tls_ca is not defined }}tls_ca = "{{ telegraf_inputs_nginx_plus_tls_ca|d() }}"
  {{ '#' if telegraf_inputs_nginx_plus_tls_cert is not defined }}tls_cert = "{{ telegraf_inputs_nginx_plus_tls_cert|d() }}"
  {{ '#' if telegraf_inputs_nginx_plus_tls_key is not defined }}tls_key = "{{ telegraf_inputs_nginx_plus_tls_key|d() }}"
  ## Use TLS but skip chain & host verification
  {{ '#' if telegraf_inputs_nginx_plus_insecure_skip_verify is not defined }}insecure_skip_verify = {{ telegraf_inputs_nginx_plus_insecure_skip_verify|d()|bool|lower }}
