# Read metrics about disk IO by device
[[inputs.diskio]]
  ## By default, telegraf will gather stats for all devices including
  ## disk partitions.
  ## Setting devices will restrict the stats to the specified devices.
  {{ '#' if telegraf_inputs_diskio_devices is not defined }}devices = [ {% for i in telegraf_inputs_diskio_devices|d([]) %}"{{ i }}"{{ ', ' if not loop.last }}{% endfor %} ]
  ## Uncomment the following line if you need disk serial numbers.
  {{ '#' if telegraf_inputs_diskio_skip_serial_number is not defined }}skip_serial_number = {{ telegraf_inputs_diskio_skip_serial_number|d()|bool|lower }}
  #
  ## On systems which support it, device metadata can be added in the form of
  ## tags.
  ## Currently only Linux is supported via udev properties. You can view
  ## available properties for a device by running:
  ## 'udevadm info -q property -n /dev/sda'
  ## Note: Most, but not all, udev properties can be accessed this way. Properties
  ## that are currently inaccessible include DEVTYPE, DEVNAME, and DEVPATH.
  {{ '#' if telegraf_inputs_diskio_device_tags is not defined }}device_tags = [ {% for i in telegraf_inputs_diskio_device_tags|d([]) %}"{{ i }}"{{ ', ' if not loop.last }}{% endfor %} ]
  #
  ## Using the same metadata source as device_tags, you can also customize the
  ## name of the device via templates.
  ## The 'name_templates' parameter is a list of templates to try and apply to
  ## the device. The template may contain variables in the form of '$PROPERTY' or
  ## '${PROPERTY}'. The first template which does not contain any variables not
  ## present for the device is used as the device name tag.
  ## The typical use case is for LVM volumes, to get the VG/LV name instead of
  ## the near-meaningless DM-0 name.
  {{ '#' if telegraf_inputs_diskio_name_templates is not defined }}name_templates = [ {% for i in telegraf_inputs_diskio_name_templates|d([]) %}"{{ i }}"{{ ', ' if not loop.last }}{% endfor %} ]
