# Collect kernel snmp counters and network interface statistics
[[inputs.nstat]]
  ## file paths for proc files. If empty default paths will be used:
  ##    /proc/net/netstat, /proc/net/snmp, /proc/net/snmp6
  ## These can also be overridden with env variables, see README.
  proc_net_netstat = "{{ telegraf_inputs_nstat_proc_net_netstat|d() }}"
  proc_net_snmp = "{{ telegraf_inputs_nstat_proc_net_snmp|d() }}"
  proc_net_snmp6 = "{{ telegraf_inputs_nstat_proc_net_snmp6|d() }}"
  ## dump metrics with 0 values too
  dump_zeros       = {{ telegraf_inputs_nstat_dump_zeros      |d()|bool|lower }}
