# A plugin to collect stats from Opensmtpd - a validating, recursive, and caching DNS resolver 
[[inputs.opensmtpd]]
  ## If running as a restricted user you can prepend sudo for additional access:
  use_sudo = {{ telegraf_inputs_opensmtpd_use_sudo|d()|bool|lower }}

  ## The default location of the smtpctl binary can be overridden with:
  binary = "{{ telegraf_inputs_opensmtpd_binary|d() }}"

  ## The default timeout of 1000ms can be overridden with (in milliseconds):
  timeout = {{ telegraf_inputs_opensmtpd_timeout|d() }}
