# Provides metrics about the state of a NATS server
[[inputs.nats]]
  ## The address of the monitoring endpoint of the NATS server
  server = "{{ telegraf_inputs_nats_server|d() }}"

  ## Maximum time to receive response
  {{ '#' if telegraf_inputs_nats_response_timeout is not defined }}response_timeout = "{{ telegraf_inputs_nats_response_timeout|d() }}"
