# Read metrics about system load & uptime
[[inputs.system]]
  ## Uncomment to remove deprecated metrics.
  {{ '#' if telegraf_inputs_system_fielddrop is not defined else '' }}fielddrop = [ {% for i in telegraf_inputs_system_fielddrop|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]
