# Count files in a directory
[[inputs.filecount]]
  ## Directory to gather stats about.
  ##   deprecated in 1.9; use the directories option
  {{ '#' if telegraf_inputs_filecount_directory is not defined else '' }}directory = "{{ telegraf_inputs_filecount_directory|d() }}"

  ## Directories to gather stats about.
  ## This accept standard unit glob matching rules, but with the addition of
  ## ** as a "super asterisk". ie:
  ##   /var/log/**    -> recursively find all directories in /var/log and count files in each directories
  ##   /var/log/*/*   -> find all directories with a parent dir in /var/log and count files in each directories
  ##   /var/log       -> count all files in /var/log and all of its subdirectories
  directories = [ {% for i in telegraf_inputs_filecount_directories|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]

  ## Only count files that match the name pattern. Defaults to "*".
  name = "{{ telegraf_inputs_filecount_name|d() }}"

  ## Count files in subdirectories. Defaults to true.
  recursive = {{ telegraf_inputs_filecount_recursive|d()|bool|lower }}

  ## Only count regular files. Defaults to true.
  regular_only = {{ telegraf_inputs_filecount_regular_only|d()|bool|lower }}

  ## Follow all symlinks while walking the directory tree. Defaults to false.
  follow_symlinks = {{ telegraf_inputs_filecount_follow_symlinks|d()|bool|lower }}

  ## Only count files that are at least this size. If size is
  ## a negative number, only count files that are smaller than the
  ## absolute value of size. Acceptable units are B, KiB, MiB, KB, ...
  ## Without quotes and units, interpreted as size in bytes.
  size = "{{ telegraf_inputs_filecount_size|d() }}"

  ## Only count files that have not been touched for at least this
  ## duration. If mtime is negative, only count files that have been
  ## touched in this duration. Defaults to "0s".
  mtime = "{{ telegraf_inputs_filecount_mtime|d() }}"
