# Read metrics of bcache from stats_total and dirty_data
[[inputs.bcache]]
  ## Bcache sets path
  ## If not specified, then default is:
  bcachePath = "{{ telegraf_inputs_bcache_bcachePath|d() }}"

  ## By default, telegraf gather stats for all bcache devices
  ## Setting devices will restrict the stats to the specified
  ## bcache devices.
  bcacheDevs = [ {% for i in telegraf_inputs_bcache_bcacheDevs|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]
