# Read metrics about docker containers from Fargate/ECS v2, v3 meta endpoints.
[[inputs.ecs]]
  ## ECS metadata url.
  ## Metadata v2 API is used if set explicitly. Otherwise,
  ## v3 metadata endpoint API is used if available.
  {{ '#' if telegraf_inputs_ecs_endpoint_url is not defined }}endpoint_url = "{{ telegraf_inputs_ecs_endpoint_url|d() }}"

  ## Containers to include and exclude. Globs accepted.
  ## Note that an empty array for both will include all containers
  {{ '#' if telegraf_inputs_ecs_container_name_include is not defined }}container_name_include = [ {% for i in telegraf_inputs_ecs_container_name_include|d([]) %}"{{ i }}"{{ ', ' if not loop.last }}{% endfor %} ]
  {{ '#' if telegraf_inputs_ecs_container_name_exclude is not defined }}container_name_exclude = [ {% for i in telegraf_inputs_ecs_container_name_exclude|d([]) %}"{{ i }}"{{ ', ' if not loop.last }}{% endfor %} ]

  ## Container states to include and exclude. Globs accepted.
  ## When empty only containers in the "RUNNING" state will be captured.
  ## Possible values are "NONE", "PULLED", "CREATED", "RUNNING",
  ## "RESOURCES_PROVISIONED", "STOPPED".
  {{ '#' if telegraf_inputs_ecs_container_status_include is not defined }}container_status_include = [ {% for i in telegraf_inputs_ecs_container_status_include|d([]) %}"{{ i }}"{{ ', ' if not loop.last }}{% endfor %} ]
  {{ '#' if telegraf_inputs_ecs_container_status_exclude is not defined }}container_status_exclude = [ {% for i in telegraf_inputs_ecs_container_status_exclude|d([]) %}"{{ i }}"{{ ', ' if not loop.last }}{% endfor %} ]

  ## ecs labels to include and exclude as tags.  Globs accepted.
  ## Note that an empty array for both will include all labels as tags
  ecs_label_include = [ {% for i in telegraf_inputs_ecs_ecs_label_include|d([]) %}"{{ i }}"{{ ', ' if not loop.last }}{% endfor %} ]
  ecs_label_exclude = [ {% for i in telegraf_inputs_ecs_ecs_label_exclude|d([]) %}"{{ i }}"{{ ', ' if not loop.last }}{% endfor %} ]

  ## Timeout for queries.
  {{ '#' if telegraf_inputs_ecs_timeout is not defined }}timeout = "{{ telegraf_inputs_ecs_timeout|d() }}"
