# Collect statistics about itself
[[inputs.internal]]
  ## If true, collect telegraf memory stats.
  {{ '#' if telegraf_inputs_internal_collect_memstats is not defined }}collect_memstats = {{ telegraf_inputs_internal_collect_memstats|d()|bool|lower }}
