# OpenLDAP cn=Monitor plugin
[[inputs.openldap]]
  host = "{{ telegraf_inputs_openldap_host|d() }}"
  port = {{ telegraf_inputs_openldap_port|d() }}

  # ldaps, starttls, or no encryption. default is an empty string, disabling all encryption.
  # note that port will likely need to be changed to 636 for ldaps
  # valid options: "" | "starttls" | "ldaps"
  tls = "{{ telegraf_inputs_openldap_tls|d() }}"

  # skip peer certificate verification. Default is false.
  insecure_skip_verify = {{ telegraf_inputs_openldap_insecure_skip_verify|d()|bool|lower }}

  # Path to PEM-encoded Root certificate to use to verify server certificate
  tls_ca = "{{ telegraf_inputs_openldap_tls_ca|d() }}"

  # dn/password to bind with. If bind_dn is empty, an anonymous bind is performed.
  bind_dn = "{{ telegraf_inputs_openldap_bind_dn|d() }}"
  bind_password = "{{ telegraf_inputs_openldap_bind_password|d() }}"

  # Reverse metric names so they sort more naturally. Recommended.
  # This defaults to false if unset, but is set to true when generating a new config
  reverse_metric_names = {{ telegraf_inputs_openldap_reverse_metric_names|d()|bool|lower }}
