# Reads metrics from a Teamspeak 3 Server via ServerQuery
[[inputs.teamspeak]]
  ## Server address for Teamspeak 3 ServerQuery
  {{ '#' if telegraf_inputs_teamspeak_server is not defined else '' }}server = "{{ telegraf_inputs_teamspeak_server|d() }}"
  ## Username for ServerQuery
  username = "{{ telegraf_inputs_teamspeak_username|d() }}"
  ## Password for ServerQuery
  password = "{{ telegraf_inputs_teamspeak_password|d() }}"
  ## Array of virtual servers
  {{ '#' if telegraf_inputs_teamspeak_virtual_servers is not defined else '' }}virtual_servers = [ {% for i in telegraf_inputs_teamspeak_virtual_servers|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]
