# Accept metrics over InfluxDB 1.x HTTP API
[[inputs.http_listener]]
  ## Address and port to host InfluxDB listener on
  service_address = "{{ telegraf_inputs_http_listener_service_address|d() }}"

  ## maximum duration before timing out read of the request
  read_timeout = "{{ telegraf_inputs_http_listener_read_timeout|d() }}"
  ## maximum duration before timing out write of the response
  write_timeout = "{{ telegraf_inputs_http_listener_write_timeout|d() }}"

  ## Maximum allowed HTTP request body size in bytes.
  ## 0 means to use the default of 32MiB.
  max_body_size = "{{ telegraf_inputs_http_listener_max_body_size|d() }}"

  ## Optional tag name used to store the database.
  ## If the write has a database in the query string then it will be kept in this tag name.
  ## This tag can be used in downstream outputs.
  ## The default value of nothing means it will be off and the database will not be recorded.
  {{ '#' if telegraf_inputs_http_listener_database_tag is not defined else '' }}database_tag = "{{ telegraf_inputs_http_listener_database_tag|d() }}"

  ## If set the retention policy specified in the write query will be added as
  ## the value of this tag name.
  {{ '#' if telegraf_inputs_http_listener_retention_policy_tag is not defined else '' }}retention_policy_tag = "{{ telegraf_inputs_http_listener_retention_policy_tag|d() }}"

  ## Set one or more allowed client CA certificate file names to
  ## enable mutually authenticated TLS connections
  tls_allowed_cacerts = [ {% for i in telegraf_inputs_http_listener_tls_allowed_cacerts|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]

  ## Add service certificate and key
  tls_cert = "{{ telegraf_inputs_http_listener_tls_cert|d() }}"
  tls_key = "{{ telegraf_inputs_http_listener_tls_key|d() }}"

  ## Optional username and password to accept for HTTP basic authentication.
  ## You probably want to make sure you have TLS configured above for this.
  {{ '#' if telegraf_inputs_http_listener_basic_username is not defined else '' }}basic_username = "{{ telegraf_inputs_http_listener_basic_username|d() }}"
  {{ '#' if telegraf_inputs_http_listener_basic_password is not defined else '' }}basic_password = "{{ telegraf_inputs_http_listener_basic_password|d() }}"
