# Configuration for Graphite server to send metrics to
[[outputs.graphite]]
  ## TCP endpoint for your graphite instance.
  ## If multiple endpoints are configured, output will be load balanced.
  ## Only one of the endpoints will be written to with each iteration.
  servers = [ {% for i in telegraf_outputs_graphite_servers|d([]) %}"{{ i }}"{{ ', ' if not loop.last }}{% endfor %} ]
  ## Prefix metrics name
  prefix = "{{ telegraf_outputs_graphite_prefix|d() }}"
  ## Graphite output template
  ## see https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_OUTPUT.md
  template = "{{ telegraf_outputs_graphite_template|d() }}"

  ## Enable Graphite tags support
  {{ '#' if telegraf_outputs_graphite_graphite_tag_support is not defined }}graphite_tag_support = {{ telegraf_outputs_graphite_graphite_tag_support|d()|bool|lower }}

  ## Character for separating metric name and field for Graphite tags
  {{ '#' if telegraf_outputs_graphite_graphite_separator is not defined }}graphite_separator = "{{ telegraf_outputs_graphite_graphite_separator|d() }}"

  ## Graphite templates patterns
  ## 1. Template for cpu
  ## 2. Template for disk*
  ## 3. Default template
  {{ '#' if telegraf_outputs_graphite_templates is not defined }}templates = [ {% for i in telegraf_outputs_graphite_templates|d([]) %}"{{ i }}"{{ ', ' if not loop.last }}{% endfor %} ]
  #  "cpu tags.measurement.host.field",
  #  "disk* measurement.field",
  #  "host.measurement.tags.field"
  #]

  ## timeout in seconds for the write connection to graphite
  timeout = {{ telegraf_outputs_graphite_timeout|d() }}

  ## Optional TLS Config
  {{ '#' if telegraf_outputs_graphite_tls_ca is not defined }}tls_ca = "{{ telegraf_outputs_graphite_tls_ca|d() }}"
  {{ '#' if telegraf_outputs_graphite_tls_cert is not defined }}tls_cert = "{{ telegraf_outputs_graphite_tls_cert|d() }}"
  {{ '#' if telegraf_outputs_graphite_tls_key is not defined }}tls_key = "{{ telegraf_outputs_graphite_tls_key|d() }}"
  ## Use TLS but skip chain & host verification
  {{ '#' if telegraf_outputs_graphite_insecure_skip_verify is not defined }}insecure_skip_verify = {{ telegraf_outputs_graphite_insecure_skip_verify|d()|bool|lower }}
