# Generic socket writer capable of handling multiple socket types.
[[outputs.socket_writer]]
  ## URL to connect to
  {{ '#' if telegraf_outputs_socket_writer_address is not defined else '' }}address = "{{ telegraf_outputs_socket_writer_address|d() }}"
  {{ '#' if telegraf_outputs_socket_writer_address is not defined else '' }}address = "{{ telegraf_outputs_socket_writer_address|d() }}"
  {{ '#' if telegraf_outputs_socket_writer_address is not defined else '' }}address = "{{ telegraf_outputs_socket_writer_address|d() }}"
  {{ '#' if telegraf_outputs_socket_writer_address is not defined else '' }}address = "{{ telegraf_outputs_socket_writer_address|d() }}"
  {{ '#' if telegraf_outputs_socket_writer_address is not defined else '' }}address = "{{ telegraf_outputs_socket_writer_address|d() }}"
  {{ '#' if telegraf_outputs_socket_writer_address is not defined else '' }}address = "{{ telegraf_outputs_socket_writer_address|d() }}"
  {{ '#' if telegraf_outputs_socket_writer_address is not defined else '' }}address = "{{ telegraf_outputs_socket_writer_address|d() }}"
  {{ '#' if telegraf_outputs_socket_writer_address is not defined else '' }}address = "{{ telegraf_outputs_socket_writer_address|d() }}"
  {{ '#' if telegraf_outputs_socket_writer_address is not defined else '' }}address = "{{ telegraf_outputs_socket_writer_address|d() }}"
  {{ '#' if telegraf_outputs_socket_writer_address is not defined else '' }}address = "{{ telegraf_outputs_socket_writer_address|d() }}"

  ## Optional TLS Config
  {{ '#' if telegraf_outputs_socket_writer_tls_ca is not defined else '' }}tls_ca = "{{ telegraf_outputs_socket_writer_tls_ca|d() }}"
  {{ '#' if telegraf_outputs_socket_writer_tls_cert is not defined else '' }}tls_cert = "{{ telegraf_outputs_socket_writer_tls_cert|d() }}"
  {{ '#' if telegraf_outputs_socket_writer_tls_key is not defined else '' }}tls_key = "{{ telegraf_outputs_socket_writer_tls_key|d() }}"
  ## Use TLS but skip chain & host verification
  {{ '#' if telegraf_outputs_socket_writer_insecure_skip_verify is not defined else '' }}insecure_skip_verify = {{ telegraf_outputs_socket_writer_insecure_skip_verify|d()|bool|lower }}

  ## Period between keep alive probes.
  ## Only applies to TCP sockets.
  ## 0 disables keep alive probes.
  ## Defaults to the OS configuration.
  {{ '#' if telegraf_outputs_socket_writer_keep_alive_period is not defined else '' }}keep_alive_period = "{{ telegraf_outputs_socket_writer_keep_alive_period|d() }}"

  ## Content encoding for packet-based connections (i.e. UDP, unixgram).
  ## Can be set to "gzip" or to "identity" to apply no encoding.
  ##
  {{ '#' if telegraf_outputs_socket_writer_content_encoding is not defined else '' }}content_encoding = "{{ telegraf_outputs_socket_writer_content_encoding|d() }}"

  ## Data format to generate.
  ## Each data format has its own unique set of configuration options, read
  ## more about them here:
  ## https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md
  {{ '#' if telegraf_outputs_socket_writer_data_format is not defined else '' }}data_format = "{{ telegraf_outputs_socket_writer_data_format|d() }}"
