# Send metrics to New Relic metrics endpoint
[[outputs.newrelic]]
  ## New Relic Insights API key
  insights_key = "{{ telegraf_outputs_newrelic_insights_key|d() }}"

  ## Prefix to add to add to metric name for easy identification.
  {{ '#' if telegraf_outputs_newrelic_metric_prefix is not defined }}metric_prefix = "{{ telegraf_outputs_newrelic_metric_prefix|d() }}"

  ## Timeout for writes to the New Relic API.
  {{ '#' if telegraf_outputs_newrelic_timeout is not defined }}timeout = "{{ telegraf_outputs_newrelic_timeout|d() }}"
