# Configuration for the Riemann server to send metrics to
[[outputs.riemann]]
  ## The full TCP or UDP URL of the Riemann server
  url = "{{ telegraf_outputs_riemann_url|d() }}"

  ## Riemann event TTL, floating-point time in seconds.
  ## Defines how long that an event is considered valid for in Riemann
  {{ '#' if telegraf_outputs_riemann_ttl is not defined else '' }}ttl = {{ telegraf_outputs_riemann_ttl|d() }}

  ## Separator to use between measurement and field name in Riemann service name
  ## This does not have any effect if 'measurement_as_attribute' is set to 'true'
  separator = "{{ telegraf_outputs_riemann_separator|d() }}"

  ## Set measurement name as Riemann attribute 'measurement', instead of prepending it to the Riemann service name
  {{ '#' if telegraf_outputs_riemann_measurement_as_attribute is not defined else '' }}measurement_as_attribute = {{ telegraf_outputs_riemann_measurement_as_attribute|d()|bool|lower }}

  ## Send string metrics as Riemann event states.
  ## Unless enabled all string metrics will be ignored
  {{ '#' if telegraf_outputs_riemann_string_as_state is not defined else '' }}string_as_state = {{ telegraf_outputs_riemann_string_as_state|d()|bool|lower }}

  ## A list of tag keys whose values get sent as Riemann tags.
  ## If empty, all Telegraf tag values will be sent as tags
  {{ '#' if telegraf_outputs_riemann_tag_keys is not defined else '' }}tag_keys = [ {% for i in telegraf_outputs_riemann_tag_keys|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]

  ## Additional Riemann tags to send.
  {{ '#' if telegraf_outputs_riemann_tags is not defined else '' }}tags = [ {% for i in telegraf_outputs_riemann_tags|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]

  ## Description for Riemann event
  {{ '#' if telegraf_outputs_riemann_description_text is not defined else '' }}description_text = "{{ telegraf_outputs_riemann_description_text|d() }}"

  ## Riemann client write timeout, defaults to "5s" if not set.
  {{ '#' if telegraf_outputs_riemann_timeout is not defined else '' }}timeout = "{{ telegraf_outputs_riemann_timeout|d() }}"
