# Given a tag of a TCP or UDP port number, add a tag of the service name looked up in the system services file
[[processors.port_name]]
[[processors.port_name]]
  ## Name of tag holding the port number
  {{ '#' if telegraf_processors_port_name_tag is not defined }}tag = "{{ telegraf_processors_port_name_tag|d() }}"

  ## Name of output tag where service name will be added
  {{ '#' if telegraf_processors_port_name_dest is not defined }}dest = "{{ telegraf_processors_port_name_dest|d() }}"

  ## Default tcp or udp
  {{ '#' if telegraf_processors_port_name_default_protocol is not defined }}default_protocol = "{{ telegraf_processors_port_name_default_protocol|d() }}"
