# Apply metric modifications using override semantics.
[[processors.override]]
  ## All modifications on inputs and aggregators can be overridden:
  {{ '#' if telegraf_processors_override_name_override is not defined else '' }}name_override = "{{ telegraf_processors_override_name_override|d() }}"
  {{ '#' if telegraf_processors_override_name_prefix is not defined else '' }}name_prefix = "{{ telegraf_processors_override_name_prefix|d() }}"
  {{ '#' if telegraf_processors_override_name_suffix is not defined else '' }}name_suffix = "{{ telegraf_processors_override_name_suffix|d() }}"

  ## Tags to be added (all values must be strings)
  # [processors.override.tags]
    {{ '#' if telegraf_processors_override_tags_additional_tag is not defined else '' }}additional_tag = "{{ telegraf_processors_override_tags_additional_tag|d() }}"
