# Convert values to another metric value type
[[processors.converter]]
  ## Tags to convert
  ##
  ## The table key determines the target type, and the array of key-values
  ## select the keys to convert.  The array may contain globs.
  ##   <target-type> = [<tag-key>...]
  [processors.converter.tags]
    measurement = [ {% for i in telegraf_processors_converter_tags_measurement|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]
    string = [ {% for i in telegraf_processors_converter_tags_string|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]
    integer = [ {% for i in telegraf_processors_converter_tags_integer|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]
    unsigned = [ {% for i in telegraf_processors_converter_tags_unsigned|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]
    boolean = [ {% for i in telegraf_processors_converter_tags_boolean|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]
    float = [ {% for i in telegraf_processors_converter_tags_float|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]

  ## Fields to convert
  ##
  ## The table key determines the target type, and the array of key-values
  ## select the keys to convert.  The array may contain globs.
  ##   <target-type> = [<field-key>...]
  [processors.converter.fields]
    measurement = [ {% for i in telegraf_processors_converter_fields_measurement|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]
    tag = [ {% for i in telegraf_processors_converter_fields_tag|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]
    string = [ {% for i in telegraf_processors_converter_fields_string|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]
    integer = [ {% for i in telegraf_processors_converter_fields_integer|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]
    unsigned = [ {% for i in telegraf_processors_converter_fields_unsigned|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]
    boolean = [ {% for i in telegraf_processors_converter_fields_boolean|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]
    float = [ {% for i in telegraf_processors_converter_fields_float|d([]) %}"{{ i }}"{{ ', ' if not loop.last else '' }}{% endfor %} ]
