# Restricts the number of tags that can pass through this filter and chooses which tags to preserve when over the limit.
[[processors.tag_limit]]
  ## Maximum number of tags to preserve
  limit = {{ telegraf_processors_tag_limit_limit|d() }}

  ## List of tags to preferentially preserve
  keep = [ {% for i in telegraf_processors_tag_limit_keep|d([]) %}"{{ i }}"{{ ', ' if not loop.last }}{% endfor %} ]
